<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Detailid</title>
</head>
<body>

<table>
    <tr>
        <td width="26.36%"></td>
        <td width ="28%">
            <a href="front.html"> Avaleht </a> &nbsp; | &nbsp;
            <a href="list.html"> Nimekiri </a></td>
        <td width ="21.38%"></td>
        <td width ="19.7%"></td>
        <td width="5%" align="left"> <a href=""> Seaded </a></td>
    </tr>
</table>
<br>
<br>
<br>
<table width="800px" align="center">
    <tr>
        <td width="20%">Nimi:</td>
        <td>Jaak</td>
    </tr>
    <tr>
        <td width="10%">Perekonnanimi:</td>
        <td>Tamm</td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td>123 456</td>
    </tr>
    </tr>
</table>
<br>
<br>
<table width="800px" align="center">
    <tr>
        <td width="30%">Ehitajate Tee 5, 19086 Tallin</td>
        <td width="20%"align="center"> 620 2002 </td>
        <td width="25%" align="right"> info@taltech.ee </td>
    </tr>
</table>
<br>
</body>
</html>